$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;
$grey-text:  #938CA7;
$white: #fff;
$black: #000;
$backgroundPopup: #4c4c4c;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-2: 0 0 10px 0 rgb(0 0 0 / 50%);
$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;

$linear-color-01: linear-gradient(90deg, #ff0000 -0.15%, #FFDB0D 96.99%);
$linear-color-02: linear-gradient(0deg, #ff0000 -0.15%, #FFDB0D 96.99%);
$linear-color-03: linear-gradient(90deg, #FFDB0D -0.15%, #ff0000 96.99%);
