@use "../../scss/" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }

    .genres {
      & > * ~ * {
        margin-left: 0.5rem;
      }

      &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
      }
    }
    .range {
      display: flex;
      align-items: center;
      gap: 50px;
      .lists-action {
        display: flex;
        font-size: 1.5rem;
        gap: 30px;
        &__item {
          cursor: pointer;
          position: relative;
        }
      }
    }
  }
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;

  &__item {
    &__img {
      padding-top: 160px;
      background-size: cover;
      margin-bottom: 0.5rem;
    }

    &__name {
      font-size: 0.8rem;
    }
  }
}

.video {
  margin-bottom: 3rem;

  &__title {
    margin-bottom: 1.5rem;
  }
}
.dropdown-list {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px;
  color: #333;
  font-size: 16px;
  position: absolute;
  min-width: 250px;
  &__create {
    font-weight: bold;
    text-transform: uppercase;
    background: $linear-color-03;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: linear 3s;
    &:hover {
      background: $linear-color-01;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: linear 3s;
    }
  }
  &__choose {
    position: relative;
    &__init {
      border: 1px solid #999;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 5px;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow:$box-shadow;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      z-index: 10;
    }
    &__list {
      // position: absolute;
      background: #9d9d9d;
      width: 100%;
      color: #333;
      font-size: 14px;
      margin-top: 5px;
      border-radius: 5px;
      height: 200px;
      overflow: auto;
      li {
        border-bottom: 0.75px solid rgba(255, 255, 255, 0.541);
        padding: 5px;
        z-index: 10;
        &:hover {
          background: rgb(117, 117, 117);
          transition: linear 0.3s;
        }
        &:first-child:hover {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child:hover {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
